= form_for(@post) do |f|
  - if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
