%h1= t('.title')
%p= link_to t('.new_post'), new_post_path

%table
  %thead
    %tr
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for post in @posts
      %tr{ :class => cycle(:odd, :even) }
        %td.action= link_to t('show'), post
        %td.action= link_to t('edit'), edit_post_path(post)
        %td.action= link_to t('destroy'), post, :confirm => t('are_you_sure'), :method => :delete
